.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    max-height:  35vh;
    justify-content: center;
    align-items: center;
    flex: 38%;
  }
  
  h1 {
    text-align: center;
  }
  
  label,
  input,
  button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

  @media only screen and (min-width: 641px) {
  .container {display: flex;
    flex-direction: row;
}
    .section{
      display: flex;
    }
    
    
  }
  
  


  
